.warning{
    background-color: #fca5a5;
}
.warningBtn{
    background-color: #f87171;
}
.warningBtn:hover{
    background-color: #ef4444;
}
.success{
    background-color: #198754
}
.successBtn{
    background-color: #0f513272; ;
}
.successBtn:hover{
    background-color: #0f5132; ;
}